<div class="container-fluid">
  <div class="row align-items-center">
    <!-- Left Section -->
    <div class="col-md-6 mb-5 mb-md-0">
      <div class="container_width left_margin">
        <h1>Your go-to food delivery service</h1>
        <p class="container_width font">
          Ultimate food delivery, serving mouthwatering dishes to your doorstep
          instantly!
        </p>
        <form
          [formGroup]="registerForm"
          (ngSubmit)="signUp()"
          class="container_width"
        >
          <input
            type="email"
            class="form-input"
            placeholder="Enter your Email"
            formControlName="email"
          />
          <input
            type="email"
            class="form-input"
            placeholder="Enter your password"
            formControlName="password"
          />
          <input
            type="text"
            class="form-input"
            placeholder="Share your Phone number"
            formControlName="phone"
          />
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Add your Address"
              aria-label="Add your Address"
              formControlName="address"
            />
            <span class="input-group-text bg-transparent imgBorder">
              <img
                src="../../assets/Images/location-arrow.png"
                alt="Location Icon"
                style="width: 20px; height: 20px; opacity: 0.6"
              />
            </span>
          </div>

          <button type="submit" class="btn btn-custom">Register now</button>
        </form>
        <!-- style="font-size: 0.8rem; color: #888" -->
        <p class="container_width mt-3">
          This site is protected by reCAPTCHA and the
          <a href="#" style="color: #aaa; text-decoration: underline"
            >Google Privacy Policy</a
          >
          and
          <a href="#" style="color: #aaa; text-decoration: underline"
            >Terms of Service</a
          >
          apply.
        </p>
      </div>
    </div>
    <!-- Right Section -->
    <div class="col-md-6 text-center position-relative">
      <div class="position-relative d-inline-block w-100">
        <img
          src="../../assets/Images/graphics.png"
          alt="Tumdum"
          class="img-fluid img_width"
        />
      </div>
    </div>
  </div>
</div>
