.breadcrumb-container {
  //   padding: 10px 20px;
  padding: 1.7rem 3.8rem;
}
.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.breadcrumb-item a {
  color: #c2c2c2; /* White text */
  text-decoration: none;
}
.breadcrumb-item.active {
  color: #0a0a0a; /* Grey for active item */
}
