<!-- <nav class="navbar navbar-expand-lg">
  <div
    class="container-fluid d-flex justify-content-between align-items-center"
  >
    <div class="d-flex align-items-center">
      
      <div class="navbar-icon">
        <img src="../../assets/Images/Frame 5.png" alt="Logo" width="24" />
      </div>
     
      <div class="location-bar">
        <img src="../../assets/Images/location-arrow.png" alt="Location Icon" />
        <span class="nav-text">Kalyan Vihar, Railway Colony, Ma...</span>
      </div>
    </div>


    <div class="d-flex align-items-center">
 
      <div class="me-4">
        <span class="search-icon"
          ><img src="../../assets/Images/search.png" alt="" srcset="" />
          Search</span
        >
      </div>
 
      <div class="me-4">
        <span class="signin-icon"
          ><img src="../../assets/Images/user (1).png" alt="" srcset="" /> Sign
          in</span
        >
      </div>
     
      <div>
        <span class="cart-icon"
          ><img src="../../assets/Images/Vector (2).png" alt="" srcset="" />
          Cart</span
        >
      </div>
    </div>
  </div>
</nav> -->
<app-navbar></app-navbar>
<div class="bannerSection">
  <div class="banner-container">
    <div class="banner">
      <img src="../../assets/Images/banner (8).png" alt="Banner" />
    </div>
  </div>
</div>
<div class="dish_section">
  <div class="dish_container">
    <h2 class="section-title">What's on your mind?</h2>
    <ngx-slick-carousel #slickCarousel2 class="carousel" [config]="slideConfig2">
      <div ngxSlickItem *ngFor="let item of cuisinesList" class="slide">
        <div class="icon-item">
          <img [src]="item?.image" [alt]="item.item_text" />
          <p>{{ item.item_text }}</p>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>
<section>
  <div class="bestOpSection">
    <h3 class="section-title">Best options close to your place</h3>
    <div class="restaurant-list">
      <div *ngFor="let item of restaurantList" class="restaurant-card hand" (click)="onResClick(item?.id)">
        <div class="image-container">
          <img [src]="item?.image || '../../assets/Images/e5491f3e2656022bbd45cf43455c5e70.jpg'" [alt]="item.res_name" class="restaurant-image" />
        </div>
        <h5 class="restaurant-name">{{ item?.res_name }}</h5>
        <div class="restaurant-details">
          <p>
            <span class="d-flex align-items-center">
              <img src="../../assets/Images/tachometer-fast.png" alt="Time Icon" style="width: 16px; height: 16px; margin-right: 4px" />15 mins
            </span>
            <span class="dishDetails">
              <ng-container *ngFor="let cuisine of item?.cuisinesList.slice(0, 4); let last = last">
                {{ cuisine?.item_text }}<span *ngIf="!last">, </span>
              </ng-container>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer section -->
<app-footer></app-footer>
